@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap');

$font-main: "Josefin Slab", serif;

$color-primary: #606060;
$color-secondary: #F8F8FF;
$color-green: #D2E2E0;
$color-yellow: #F8ECC1;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-main;
  color: $color-primary;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}