.homepage__image {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.about__text__info {
  background-image: url(images/dandelion_seeds.png);
  background-color: $color-green;
  background-size: 300px 300px;
  background-repeat: no-repeat;
  background-position: 225% 200%;
}

[id^='skills__tech__']:hover {
  filter: drop-shadow(2px 2px 5px);
}

.projects__image {
  display: flex; 
  justify-content: flex-end;
  background-color: $color-secondary;
}

.contact__image {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $color-green;
  overflow: hidden;
}

.wave-2, .wave-3 {
  background-color: $color-yellow;
}

.wave-4 {
  background-color: $color-green;
}

@media screen and (max-width:768px) {
  .homepage__image__dandelion-image-small {
    display: none;
  }
}

@media screen and (max-width:768px) {
  .contact__image__dandelion-image-small {
    display: none;
  }
}