.homepage__image {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.skills__image {
  display: flex;
  justify-content: flex-end;
  background-color: $color-yellow;
}

.projects__image {
  display: flex; 
  justify-content: flex-end;
  background-color: $color-secondary;
}

.contact__image {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $color-green;
  overflow: hidden;
}

@media screen and (max-width:768px) {
  .homepage__image__dandelion-image-small {
    display: none;
  }
}

@media screen and (max-width:768px) {
  .contact__image__dandelion-image-small {
    display: none;
  }
}

// .wave-2 {
//   background-color: $color-yellow;
// }