.homepage__image {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.about__text__info {
  background-image: url(images/dandelion_seeds.png);
  background-color: $color-green;
  background-size: 300px 300px;
  background-repeat: no-repeat;
  background-position: 225% 200%;
}

[id^='skills__tech__']:hover {
  filter: drop-shadow(2px 2px 5px);
}

.projects__portfolio__bakery {
  position: relative;
  height: 400px;
  width: 600px;
}

.projects__portfolio__bakery-image {
  display: block;
  height: 400px;
  width: 600px;
  border: solid 2px $color-primary;
  border-radius: 10px;
}

.projects__portfolio__bakery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 600px;
  border: solid 2px $color-primary;
  border-radius: 10px;
  background-color: $color-green;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.projects__portfolio__bakery-overlay:hover {
  opacity: 1;
}

.projects__portfolio__bakery-text {
  justify-content: center;
  text-align: center;
  font-size: 25px;
  padding: 60px;
}

.projects__portfolio__placeholder {
  position: relative;
  height: 400px;
  width: 600px;
  margin: 50px;
}

.projects__portfolio__placeholder-image {
  display: block;
  height: 400px;
  width: 600px;
  border: solid 2px $color-primary;
  border-radius: 10px;
}

.projects__portfolio__placeholder-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 600px;
  border: solid 2px $color-primary;
  border-radius: 10px;
  background-color: $color-green;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.projects__portfolio__placeholder-overlay:hover {
  opacity: 1;
}

.projects__portfolio__placeholder-text {
  text-align: center;
  font-size: 25px;
  padding: 60px;
}

#projects__portfolio__bakery-button {
  height: 40px;
  width: 140px;
  text-align: center;
  background-color: $color-secondary;
  border: 2px solid $color-primary;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  }

  #projects__portfolio__placeholder-button-1 {
    height: 40px;
    width: 140px;
    text-align: center;
    background-color: $color-secondary;
    border: 2px solid $color-primary;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    font-size: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    }

    #projects__portfolio__placeholder-button-2 {
      height: 40px;
      width: 140px;
      text-align: center;
      background-color: $color-secondary;
      border: 2px solid $color-primary;
      border-radius: 10px;
      margin: auto;
      margin-top: 10px;
      padding: 10px;
      font-size: 15px;
      transition-duration: 0.4s;
      cursor: pointer;
      }

.contact__image {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $color-green;
  overflow: hidden;
}

.wave-2, .wave-3 {
  background-color: $color-yellow;
}

.wave-4 {
  background-color: $color-green;
}

@media screen and (max-width:768px) {
  .homepage__image__dandelion-image-small {
    display: none;
  }
}

@media screen and (max-width:768px) {
  .contact__image__dandelion-image-small {
    display: none;
  }
}