@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Slab", serif;
  color: #606060;
  background-color: #F8F8FF;
}

.navigation {
  height: 10vh;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  padding: 0 40px;
  margin: 100px 0;
}
.header__name {
  font-size: 60px;
}
.header__title {
  font-size: 40px;
}

.img-homepage {
  border: solid 2px red;
  display: flex;
  width: 100%;
}
.img-homepage__no-seeds {
  height: 90%;
  width: 25%;
}
.img-homepage__dandelion {
  height: 90%;
  width: 25%;
}

.about {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.about__heading {
  font-size: 40px;
  text-align: center;
  padding: 40px 0;
  background-color: #D2E2E0;
  border: solid 2px red;
}
.about__text {
  font-size: 25px;
  text-align: center;
  height: 100%;
  padding: 40px 0;
  background-color: #D2E2E0;
  border: solid 2px red;
}

.skills {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.skills__heading {
  font-size: 40px;
  text-align: left;
  padding: 40px 40px;
  background-color: #F8ECC1;
  border: solid 2px red;
}
.skills__text {
  font-size: 25px;
  text-align: left;
  padding: 40px 40px;
  height: 100%;
  background-color: #F8ECC1;
  border: solid 2px red;
}

.projects {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.projects__heading {
  font-size: 40px;
  text-align: left;
  padding: 40px 40px;
  background-color: #F8F8FF;
  border: solid 2px red;
}
.projects__text {
  font-size: 25px;
  text-align: left;
  padding: 40px 40px;
  height: 100%;
  background-color: #F8F8FF;
  border: solid 2px red;
}

.contact {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.contact__heading {
  font-size: 40px;
  text-align: center;
  padding: 40px 0;
  background-color: #D2E2E0;
  border: solid 2px red;
}
.contact__email {
  font-size: 25px;
  text-align: center;
  padding: 40px 0;
  height: 100%;
  background-color: #D2E2E0;
  border: solid 2px red;
}