body {
  background-color: #cccccc;
}

.german-flag {
  padding: 50px;
  width: 200px;
  margin: 0 auto;
}

.top {
  background-color: black;
  height: 50px;
}

.middle {
  background-color: #ff0000;
  height: 50px;
}

.bottom {
  background-color: yellow;
  height: 50px;
}

.german-flag:hover .top {
  background-color: red;
}

.german-flag:hover .middle {
  background-color: white;
}

.german-flag:hover .bottom {
  background-color: green;
}

.french-flag {
  width: 200px;
  margin: 0 auto;
  position: relative;
}

.left {
  background-color: blue;
  width: 33.3%;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
}

.centre {
  background-color: white;
  width: 33.3%;
  height: 150px;
  margin: 0 auto;

}

.right {
  background-color: red;
  width: 33.3%;
  height: 150px;
  position: absolute;
  top: 0;
  right: 0;
}

.french-flag:hover .left {
  background-color: rgb(62, 190, 109);
}

.french-flag:hover .centre {
  background-color: white;
}

.french-flag:hover .right {
  background-color: #f38c0d;
}