body {
  background-color: #cccccc;
}

p {
  width: 200px;
  height: 50px;
  margin: 0 auto;
}

.german-flag {
  padding: 50px;
}

.black {
  background-color: black;
}

.red-horizontal {
  background-color: #ff0000;
}

.yellow {
  background-color: yellow;
}

.french-flag {
  padding: 0px;
  background-color: white;
  position: relative;
  width: 200px;
  height: 150px;
  margin: auto; 

}

.french-flag::before {
  content: "";
  width: 33.33%;
  height: 100%;
  background-color: #0055A4;
  position: absolute;
  top: 0;
  left: 0;
}

.french-flag::after {
  content: "";
  width: 33.33%;
  height: 100%;
  background-color: #EF4135;
  position: absolute;
  top: 0;
  right: 0;
}